<section class="body">
  <section class="header">
    <mat-toolbar style="background-color: #3b3d4b; color: white">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          <span>DashBoard</span>
        </button>

        <button mat-menu-item routerLink="/map">
          <mat-icon>map</mat-icon>
          <span>Visualização em Mapa</span>
        </button>
      </mat-menu>

      <span>DashBoard</span>
      <span class="example-spacer"></span>

      <mat-icon>dashboard</mat-icon>
    </mat-toolbar>
  </section>

  <section class="cards">
    <div class="card cyan">
      <p>ACIDENTES</p>
      <p>{{ acidentes }}</p>
    </div>

    <div class="card green">
      <p>MORTES</p>
      <p>{{ mortos }}</p>
    </div>

    <div class="card yellow">
      <p>FERIDOS LEVES</p>
      <p>{{ feridos_leves }}</p>
    </div>

    <div class="card orange">
      <p>FERIDOS GRAVES</p>
      <p>{{ feridos_graves }}</p>
    </div>
  </section>

  <section class="charts">
    <div class="chartsCapsule">
      <div class="barChart">
        <canvas
          style="width: 100%; height: 100%"
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [type]="'bar'"
        >
        </canvas>
      </div>
    </div>

    <div class="chartsCapsule">
      <div class="pieChart">
        <canvas
          style="width: 100%; height: 95%"
          baseChart
          [type]="'pie'"
          [datasets]="pieChartDatasets"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [legend]="pieChartLegend"
        ></canvas>
      </div>
    </div>
  </section>
</section>
