.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white;
}

.header {
  background-color: #56097f;
  color: white;
  align-items: center;
  height: 30px;
}

.card {
  padding: 10px;
  margin: 7px;
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.cyan {
  background-color: #00bcd4;
}

.orange {
  background-color: #ff9800;
}

.green {
  background-color: #4caf50;
}

.yellow {
  background-color: #ffeb3b;
}
