.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white;
}

.header {
  height: 7vh;
}

.cards {
  height: calc(13vh - 6px);
  display: flex;
  justify-content: space-between;
  margin: 6px;
}

.card {
  height: 100%;
  width: calc(25% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0 5px;
  color: white;
  background: radial-gradient(circle, #0e626d, #0e626d96, #0e626d63);
}

.charts {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 20px);
  min-height: calc(80vh - 20px);
  gap: 10px;
  margin: 10px;
}

.chartsCapsule {
  flex: 1 1 calc(50% - 10px);
  background-color: #3b3d4b;
}

.barChart {
  width: 100%;
  height: 100%;
}

.pieChart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: #1e1e22;
}

@media screen and (max-width: 1024px) {
  .cards {
    height: auto;
    flex-wrap: wrap;
  }

  .card {
    width: calc(50% - 10px);
    font-size: 0.9em;
    margin-bottom: 10px;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    min-height: calc(80vh - 20px);
    gap: 10px;
    margin: 10px;
  }

  .chartsCapsule {
    flex: 1 1 calc(100% - 10px);
  }

  .body {
    min-height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    height: auto;
    flex-wrap: wrap;
  }

  .card {
    width: calc(100% - 10px);
    font-size: 0.8em;
    margin-bottom: 10px;
  }

  .charts {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    min-height: calc(80vh - 20px);
    gap: 10px;
    margin: 10px;
  }

  .chartsCapsule {
    flex: 1 1 calc(100% - 10px);
  }

  .body {
    min-height: 100vh;
  }
}
