.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  color: white;
}

.header {
  height: 7vh;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #1e1e22;
}

#map {
  width: 100%;
  height: 100vh;
}
