.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blueviolet;
  /*   background-image: url("/assets/bgLogin.png");
  background-size: cover;
  background-position: center; */
}

.login-card {
  width: 40vh;
  height: 80vh;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

mat-grid-tile {
  background-color: red;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
