<section>
  <div class="card">
    <div class="header card-header">
      <h2>Dashboard</h2>
    </div>

    <div>
      <table mat-table [dataSource]="tableData" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="data_inversa">
          <th mat-header-cell *matHeaderCellDef>Data do Acidente</th>
          <td mat-cell *matCellDef="let element">{{ element.data_inversa }}</td>
        </ng-container>

        <ng-container matColumnDef="dia_semana">
          <th mat-header-cell *matHeaderCellDef>Dia da Semana</th>
          <td mat-cell *matCellDef="let element">{{ element.dia_semana }}</td>
        </ng-container>

        <ng-container matColumnDef="horario">
          <th mat-header-cell *matHeaderCellDef>Horário</th>
          <td mat-cell *matCellDef="let element">{{ element.horario }}</td>
        </ng-container>

        <ng-container matColumnDef="uf">
          <th mat-header-cell *matHeaderCellDef>UF</th>
          <td mat-cell *matCellDef="let element">{{ element.uf }}</td>
        </ng-container>

        <ng-container matColumnDef="br">
          <th mat-header-cell *matHeaderCellDef>BR</th>
          <td mat-cell *matCellDef="let element">{{ element.br }}</td>
        </ng-container>

        <ng-container matColumnDef="km">
          <th mat-header-cell *matHeaderCellDef>KM</th>
          <td mat-cell *matCellDef="let element">{{ element.km }}</td>
        </ng-container>

        <ng-container matColumnDef="municipio">
          <th mat-header-cell *matHeaderCellDef>Município</th>
          <td mat-cell *matCellDef="let element">{{ element.municipio }}</td>
        </ng-container>

        <ng-container matColumnDef="causa_acidente">
          <th mat-header-cell *matHeaderCellDef>Causa do Acidente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.causa_acidente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo_acidente">
          <th mat-header-cell *matHeaderCellDef>Tipo do Acidente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.tipo_acidente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="classificacao_acidente">
          <th mat-header-cell *matHeaderCellDef>Classificação do Acidente</th>
          <td mat-cell *matCellDef="let element">
            {{ element.classificacao_acidente }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fase_dia">
          <th mat-header-cell *matHeaderCellDef>Fase do Dia</th>
          <td mat-cell *matCellDef="let element">{{ element.fase_dia }}</td>
        </ng-container>

        <ng-container matColumnDef="sentido_via">
          <th mat-header-cell *matHeaderCellDef>Sentido da Via</th>
          <td mat-cell *matCellDef="let element">{{ element.sentido_via }}</td>
        </ng-container>

        <ng-container matColumnDef="condicao_metereologica">
          <th mat-header-cell *matHeaderCellDef>Condição Meteorológica</th>
          <td mat-cell *matCellDef="let element">
            {{ element.condicao_metereologica }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipo_pista">
          <th mat-header-cell *matHeaderCellDef>Tipo de Pista</th>
          <td mat-cell *matCellDef="let element">{{ element.tipo_pista }}</td>
        </ng-container>

        <ng-container matColumnDef="tracado_via">
          <th mat-header-cell *matHeaderCellDef>Traçado da Via</th>
          <td mat-cell *matCellDef="let element">{{ element.tracado_via }}</td>
        </ng-container>

        <ng-container matColumnDef="uso_solo">
          <th mat-header-cell *matHeaderCellDef>Uso do Solo</th>
          <td mat-cell *matCellDef="let element">{{ element.uso_solo }}</td>
        </ng-container>

        <ng-container matColumnDef="pessoas">
          <th mat-header-cell *matHeaderCellDef>Total de Pessoas</th>
          <td mat-cell *matCellDef="let element">{{ element.pessoas }}</td>
        </ng-container>

        <ng-container matColumnDef="mortos">
          <th mat-header-cell *matHeaderCellDef>Mortos</th>
          <td mat-cell *matCellDef="let element">{{ element.mortos }}</td>
        </ng-container>

        <ng-container matColumnDef="feridos_leves">
          <th mat-header-cell *matHeaderCellDef>Feridos Leves</th>
          <td mat-cell *matCellDef="let element">
            {{ element.feridos_leves }}
          </td>
        </ng-container>

        <ng-container matColumnDef="feridos_graves">
          <th mat-header-cell *matHeaderCellDef>Feridos Graves</th>
          <td mat-cell *matCellDef="let element">
            {{ element.feridos_graves }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ilesos">
          <th mat-header-cell *matHeaderCellDef>Ilesos</th>
          <td mat-cell *matCellDef="let element">{{ element.ilesos }}</td>
        </ng-container>

        <ng-container matColumnDef="ignorados">
          <th mat-header-cell *matHeaderCellDef>Ignorados</th>
          <td mat-cell *matCellDef="let element">{{ element.ignorados }}</td>
        </ng-container>

        <ng-container matColumnDef="feridos">
          <th mat-header-cell *matHeaderCellDef>Feridos</th>
          <td mat-cell *matCellDef="let element">{{ element.feridos }}</td>
        </ng-container>

        <ng-container matColumnDef="veiculos">
          <th mat-header-cell *matHeaderCellDef>Veículos</th>
          <td mat-cell *matCellDef="let element">{{ element.veiculos }}</td>
        </ng-container>

        <ng-container matColumnDef="latitude">
          <th mat-header-cell *matHeaderCellDef>Latitude</th>
          <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
        </ng-container>

        <ng-container matColumnDef="longitude">
          <th mat-header-cell *matHeaderCellDef>Longitude</th>
          <td mat-cell *matCellDef="let element">{{ element.longitude }}</td>
        </ng-container>

        <ng-container matColumnDef="regional">
          <th mat-header-cell *matHeaderCellDef>Veículos</th>
          <td mat-cell *matCellDef="let element">{{ element.regional }}</td>
        </ng-container>

        <ng-container matColumnDef="delegacia">
          <th mat-header-cell *matHeaderCellDef>Veículos</th>
          <td mat-cell *matCellDef="let element">{{ element.delegacia }}</td>
        </ng-container>

        <ng-container matColumnDef="uop">
          <th mat-header-cell *matHeaderCellDef>Veículos</th>
          <td mat-cell *matCellDef="let element">{{ element.uop }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</section>
